body {
    background-color: #041F4F;
}

i {
    color: white;
}

input {
    height: 50px;
}

button {
    height: 50px;
}

.page_subtitle {
    font-size: 60px;
}

@media only screen and (max-width: 992px) {
    .page_subtitle {
        font-size: 30px;
    }
}