

/* Cerca di seguire la struttura che ho preso dal template */

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* --------------Dashboard---------------------- */
/* --------------Edit---------------------- */
/* --------------Login---------------------- */
/* --------------Management---------------------- */
/* --------------Report---------------------- */
/* --------------Segnalazione---------------------- */
